{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
