@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard Medium`', sans-serif;
}
@font-face {
  font-family: 'Pretendard Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.otf')
      format('opentype');
}
@font-face {
  font-family: 'Pretendard SemiBold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.otf')
      format('opentype');
}
@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}
